<html>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/farbtastic.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/farbtastic.js"></script>
<script>
  $(function() {
    $('#picker').farbtastic('#colour');
  });
</script>
<ul>
  {% for page in members %}
  <li><a href="/{{ page.title|urlencode }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

{% if files %}
<p>{{ files|length }} files!</p>
<form action="/{{ category }}.svg" method="post">
    <p><input type="text" id="colour" name="colour" value="#000000"></p>
    <div id="picker"></div>
    <p><input type="text" name="text"></p>
    <p><input type="submit" value="Generate SVG!"></p>
</form>
{% endif %}
</html>